html, body {
    height: 100%;
}

body {
    background-color: #E8DCC9;
    display: flex;
    flex-direction: column;
}

.my-navbar  {
    background-color: #4a3324 !important;
}

.my-navbar:hover  {
    color: #4a3324 !important;
}


.navbar-brand {
    color: white !important;
}

.navbar-toggler {
    background-color: #513827;
    
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #C8A97E !important;
}

.content-text {
    display: flex;
    gap: 40px;
}

.main {
    background-color: #4A3324;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
}

.aside {
    background-color: #4A3324;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
}

.content-text .main {
    flex: 3;
}

.content-text .aside {
    flex: 1;
}

.container li {
    list-style: none;
}

.aside {
    position: right;
}

.content-text {
    color: white !important;
}

.b1 {
    display: block;
    padding: 15px;
    
}

.b1 h1, .b1 h3 {
    color: #D4A44A !important;

}

.content {
    background-color: #4A3324;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
}

.btn {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:  #D4A44A;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 26px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    display: inline-block;
}

.btn:hover {
  background-color: #BB8F3F !important; 
    
}

.btn:active {
    background-color: #E9C271 !important;  
    color: black !important;
    transform: scale(0.96);
}

.px-1 p{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}

.px-1 a {
    text-decoration: none;
    color: white;
}

.mb-3 {
    width: 90%;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    margin-top: auto;
}

@media (max-width: 768px) {
  .content-text {
    flex-direction: column;
  }

  .main,
  .aside {
    flex: unset;
    width: 100%;
  }
}